:root {
  --fuente-principal: "Dancing Script", cursive;
  --fuente-secundaria: "Playwrite GB S", cursive;
  --fuente-titulo: "Great Vibes", cursive;
  --blanco: #ffffff;
  --negro: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  margin: 0;
  padding: 0;
  background-color: #fcf6f1;
  position: relative;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/*Globales*/
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/*Header*/
button {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #bfa880;
  padding: 2rem;
  position: absolute;
  z-index: 500;
  top: 12px;
  right: 16px;
  position: fixed;
}

button:hover {
  cursor: pointer;
  background-color: #dddcda;
}

button:focus {
  background-color: transparent;
}

button .icono__musica {
  color: #bfa880;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/IMG-20241109-WA0054.jpg);
  height: 90rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.header__texto {
  text-align: center;
  padding-top: 4rem;
}

.header__texto h2 {
  font-size: 8rem;
  margin-top: 5rem;
  color: var(--blanco);
  font-weight: bold;
  font-family: var(--fuente-principal);
}

.header__texto .texto {
  font-family: var(--fuente-secundaria);
  color: var(--blanco);
  font-size: 3.5rem;
  transform: rotate(0);
  transition: all 2s ease-in-out;
  margin-top: 7rem;
}

/* Reloj */

.reloj__contenedor__aros {
  width: 45vw;
  height: 45vh;
  background: url(../img/img_circuloContador01.svg) center center no-repeat;
  position: absolute;
  bottom: -20rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reloj__contenedor {
  border: 1px solid rgb(6, 5, 5);
  width: 21vw;
  height: 31vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.4);
  padding: 20px;
  padding-top: 25px;
}

.reloj__contenedor__contenido {
  width: 90%;
}

.reloj__titulo {
  text-align: center;
  font-size: 3rem;
  color: #957a51;
  font-weight: bold;
  font-family: var(--fuente-secundaria);
}

.reloj {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
  align-items: center;
}

.reloj .reloj__col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  font-weight: bold;
  font-family: var(--fuente-secundaria);
  padding-right: 2px;
}

.reloj__col .numero {
  color: #575756;
  font-weight: bold;
}

.reloj__col .time__name {
  color: #957a51;
  font-weight: bold;
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .reloj__contenedor__aros {
    width: 74vw;
    height: 63vh;
  }

  .reloj__contenedor {
    width: 40vw;
    height: 40vh;
    margin-top: 48px;
  }
}

/* Extra small screens (portrait phones) */
@media (max-width: 480px) {
  .reloj__contenedor__aros {
    width: 98vw;
    height: 45vh;
  }

  .reloj__contenedor {
    width: auto;
    height: auto;
  }
}

/* Fin Reloj */

/*Programa*/

.borde {
  border-bottom: 1px solid rgb(237, 235, 235);
}

.programa__itinerario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26rem;
}
.programa__itinerario .etiqueta__caja {
  width: 20rem;
  height: 6rem;
  text-align: center;
  border-radius: 2.5rem;
  padding: 2rem;
  background-color: #575756;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programa__itinerario .etiqueta__caja h3 {
  color: var(--blanco);
  text-transform: uppercase;
  font-size: 2rem;
  font-family: var(--fuente-secundaria);
}

.programa__itinerario .fecha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.programa__itinerario .fecha h6 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  color: #575756;
  margin-top: 1.8rem;
  font-family: var(--fuente-secundaria);
  font-weight: bold;
}

.programa__itinerario .fecha p {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  margin-top: 0.2rem;
  color: gray;
  font-family: var(--fuente-secundaria);
}

.programa__itinerario .fecha a {
  text-decoration: none;
  color: #bfa880;
  background-color: var(--blanco);
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: var(--fuente-secundaria);
}

.programa__itinerario .fecha a:hover {
  background-color: #bfa880;
  color: var(--blanco);
}

.programa__itinerario .lugar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.programa__itinerario .lugar h6 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  color: #575756;
  margin-top: 2rem;
  font-family: var(--fuente-secundaria);
  font-weight: bold;
}

.programa__itinerario .lugar p {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  margin-top: 0.3rem;
  color: gray;
  font-family: var(--fuente-secundaria);
}

.programa__itinerario .lugar a {
  text-decoration: none;
  color: #bfa880;
  background-color: var(--blanco);
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: var(--fuente-secundaria);
}

.programa__itinerario .lugar a:hover {
  background-color: #bfa880;
  color: var(--blanco);
}

.programa__itinerario .direccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.programa__itinerario .direccion h6 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  color: #575756;
  margin-top: 2rem;
  font-family: var(--fuente-secundaria);
  font-weight: bold;
}

.programa__itinerario .direccion p {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  margin-top: 0.3rem;
  color: gray;
  text-align: center;
  font-family: var(--fuente-secundaria);
}

.programa__itinerario .direccion a {
  text-decoration: none;
  color: #bfa880;
  background-color: var(--blanco);
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: var(--fuente-secundaria);
}

.programa__itinerario .direccion a:hover {
  background-color: #bfa880;
  color: var(--blanco);
}

/*Sección Programa Fiesta*/
.icono__fiesta {
  background-image: url(../img/wired-outline-1103-confetti-hover-pinch.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 14rem;
  width: 14rem;
  margin-top: 3rem;
}

.margin {
  margin-top: 4rem;
}

.border {
  margin-bottom: 6rem;
}

/*Sección Regalos*/
.regalos {
  margin-top: 5rem;
}

.regalos__info {
  text-align: center;
  margin-top: 4rem;
}

.regalos__info h3 {
  font-family: var(--fuente-secundaria);
  font-size: 3rem;
  font-family: var(--fuente-secundaria);
  margin-bottom: 2rem;
}

.regalos__info p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: var(--fuente-secundaria);
}

.regalos__info p:nth-last-child(2) {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.regalos__info span {
  font-size: 1.9rem;
  font-family: var(--fuente-secundaria);
}

/* utilidades */
.no__border {
  border: none !important;
}

/* Galeria */
.bg {
  background-color: #f1f9f5;
  padding: 3rem 0;
}

.galeria {
  margin-top: 4rem;
  font-size: 4rem;
  text-align: center;
  font-family: var(--fuente-secundaria);
}

.imagen__galeria {
  text-align: center;
  margin-top: 3rem;
}

.carousel {
  margin-top: -5rem;
}

.carousel .carousel-item {
  width: 26rem;
  height: 26rem;
}

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.carousel .indicators .indicator-item {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  margin: 0 0.6rem;
  background-color: rgb(156, 153, 153);
}

/* Formulario */
.contacto {
  margin-top: 2rem;
}

.formulario {
  background-color: var(--blanco);
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
  }

  .campo:nth-child(3),
  .campo:nth-child(4) {
    grid-column: 1 / 3;
  }
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.campo .campo__area {
  color: #ae9e6c;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--fuente-secundaria);
}

.campo textarea {
  height: 10rem;
  border: 1px solid #d2d5d4;
}

.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.boton {
  background-color: #dfd1a7;
  font-family: var(--fuente-secundaria);
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}

@media (min-width: 480px) {
  .boton {
    width: auto;
  }
}

.boton {
  cursor: pointer;
}

.w-sm-100 {
  width: 100%;
}

@media (min-width: 768px) {
  .w-sm-100 {
    width: auto;
  }
}

.flex {
  display: flex;
}

.alinear-derecha {
  justify-content: flex-end;
  margin-top: 2rem;
}

section h2 {
  text-align: center;
  margin: 3.5rem 0 2rem 0;
  font-family: var(--fuente-secundaria);
}

.opciones {
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.opciones {
}

/* Modal */
#modal {
  border: 1px solid gray;
  border-radius: 1.5rem;
}

#modal h2 {
  font-family: var(--fuente-secundaria);
  text-align: center;
}

#modal fieldset {
  color: #957a51;
}
