/* flex:  se aplica a los elementos del contenedor y que a su vez se estructura de tres propiedades diferentes y que se pueden presentar por separado, “flex-grow”, “flex-shrink” y “flex-basis”, y se define de la siguiente forma:

– flex: none | <flex-grow> <flex-shrink> <flex-basis>
*/

/* flex-grow:<número>; -> Determina el factor de incremento de tamaño de uno o varios elementos en relación al resto teniendo en cuenta el espacio “vacío” o “libre” entre ellos. Como espacio “vacío/libre” nos referimos al espacio que no ocupan los elementos en relación a su fila. Cuando este valor se omite, se establece en 1. */
body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

h1{
  text-align: center;
  color: black;
}

.container{
  border: 1px solid black;
  width: 90%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box{
  background-color: brown;
  width: 900px;
  /* height: 100px; */
  margin: 5px;
  text-align: center;
  padding-top: 30px;
  font-size: 48px;
  /* flex-basis: 250px; */
}

div:nth-child(1){
  /* width: 350px; */
  /* flex-basis: 150px;
  flex-shrink: 0; */
  flex: 1 3 150px;
}

div:nth-child(2){
 /*  flex-basis: 150px;
  flex-shrink: 0; */
  flex: 5 2 250px;
}

div:nth-child(3){
 /*  flex-basis: 150px;
  flex-grow: 0; */
  flex: 3 8 150px;
}



/* flex-grow: Controla la capacidad de un elemento flexible para crecer en tamaño en relación con otros elementos flexibles dentro del mismo contenedor.

flex-shrink: Controla la capacidad de un elemento flexible para reducir su tamaño en relación con otros elementos flexibles dentro del mismo contenedor. */

/* La propiedad flex-basis en CSS se utiliza en combinación con Flexbox y define el tamaño inicial de un elemento flexible antes de que se apliquen las propiedades flex-grow y flex-shrink. Puedes establecer el tamaño inicial de un elemento en píxeles, porcentajes u otros valores de longitud. */