.titulo {
  text-align: center;
}

.navegacion {
  background-color: #333;
}

.navegacion__principal {
  list-style: none;
  padding: 20px;
  text-align: center;
}

.navegacion__principal li {
  display: inline-block;
  margin: 0 20px;
}

.navegacion__principal li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
